.container {
    width: 100px;
    height: 100px;
    transform: rotate(0deg);
    transition: 2s;
    background: blue;
    border: 3px solid black;
}

.container:hover {
    width: 300px;
    height: 300px;
    transition: 2s;
    background: pink;
    transform: rotate(360deg);
}

.animation {
    width: 400px;
    height: 100px;
    border: 3px solid black;
}

.curcle {
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    animation: spiner 4s infinite;
}

@keyframes spiner {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 300px;
    }
    100% {
        margin-left: 0px;
    }
}

.spiner {
    width: 100px;
    height: 100px;
    animation: curcle 1s infinite;
    border-radius: 100%;
}

@keyframes curcle {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}